[Unit]
Description=k0s worker - Zero Friction Kubernetes
Documentation=https://docs.k0sproject.io
ConditionFileIsExecutable=/usr/bin/k0s
ConditionPathExists=/etc/k0s/token
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# A node with a join token at /etc/k0s/token (Ignition, Booty) is a worker.
Environment=K0S_WORKER_ARGS=
EnvironmentFile=-/etc/sysconfig/k0s
ExecStart=/usr/bin/k0s worker --token-file /etc/k0s/token $K0S_WORKER_ARGS

StartLimitInterval=5
StartLimitBurst=10
Restart=always
RestartSec=5s

Delegate=yes
KillMode=process
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
