[Unit]
Description=Periodic Check for a Newer Bluefin Server Release (diskless)
Documentation=file:/usr/libexec/bluefin-diskless-update-check
ConditionPathExists=/run/machines/rootdisk.raw

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
