[Unit]
Description=Populate /etc from /usr/share/factory/etc
Documentation=man:systemd-tmpfiles(8)
DefaultDependencies=no
RequiresMountsFor=/sysroot/usr
After=initrd-fs.target
Before=initrd.target initrd-cleanup.service
ConditionPathIsDirectory=/sysroot/usr/share/factory/etc

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-tmpfiles --root=/sysroot --create --boot --prefix=/etc
